@page "/product/product-list"
@using AntDesign.TableModels
@using System.ComponentModel
@using blazorAntdProTemplate.Components.FlexBox
@using blazorAntdProTemplate.Components.LoadingAnimation
@using blazorAntdProTemplate.Components.CallBackComponent
@using blazorAntdProTemplate.Pages.ProductPage.ProductCateGory


<CallbackComponent CallBackEvent="OnSelectedBank"></CallbackComponent>
<ProductCategory Data="@Text" />
<Table TItem="Product"
       DataSource="@_data.Data"
       Total="@_data.Total"
       PageIndex="@PageIndex"
       PageSize="@PageSize"
       OnPageIndexChange="PageIndexChanged">

    <AntDesign.Column @bind-Field="@context.Id" />
    <AntDesign.Column @bind-Field="@context.Email">
        <TitleTemplate>
            <FlexBox JustifyContent="center" AlignItems="center"> <Icon Type="mail" /> Email   </FlexBox>
        </TitleTemplate>
        <ChildContent>
            <a>@context.Email</a>
        </ChildContent>
    </AntDesign.Column>
    <AntDesign.Column @bind-Field="@context.First_Name">
        <a>@context.First_Name</a>
    </AntDesign.Column>
    <AntDesign.Column @bind-Field="@context.Last_Name">

    </AntDesign.Column>
    <AntDesign.Column @bind-Field="@context.Avatar">
        <Image Preview="false" Src="@context.Avatar" Height="50px" />
    </AntDesign.Column>
</Table>



@code {
    private string Text = "";
    private void OnSelectedBank(Bank bank)
    {
        Text = "Not OK!";
        Console.WriteLine(bank);
    }
}
